<%- include('./partials/header') %>

<div class="container">

    <div class="home">
        <h1><%= title %></h1>
        <div class="profile-picture">
            <img src="/images/default.png" alt="Profile Picture">
        </div>
        <p><strong>Username</strong>: <%= user.username %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <p><strong>Group ID</strong>: <%= user.group_id %></p>
        <p><strong>Group Name</strong>: <%= user.groupname %></p>

        <div class="button-group">
            <button onclick="window.location.href='/auth/logout'">Logout</button>
            <button onclick="window.location.href='/'">Back to Home</button>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>